//background-color
$color-bg-base: #FFFFFF;
$color-bg-sub: #EEFBFB;
$color-bg-faq: #F2F2F2;
$color-bg-footer: #F8F8F8;

//font-color
$color-font-base: #333333;
$color-font-subtitle: #3BA6C9;
$color-font-sub: #FFFFFF;

//border-color
$color-border-base: #E5E5E5;
$color-border-checkbox: #707070;
$color-border-work: #DDDDDD;

//その他
$color-label: #0C449B;